[Unit]
Description=Switch Hifi
Documentation=https://github.com/courmontf/switch_hifi
Wants=network.target
After=network.target

[Service]
User=switch_hifi
SupplementaryGroups=gpio
WorkingDirectory=/opt/switch_hifi
ExecStart=/opt/switch_hifi/start_service.sh

[Install]
WantedBy=multi-user.target